.property-card {
    background-color: white;
    /* max-width: 650px; */
}

.property-card:hover {
    transition: ease-out 0.15s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social {
    color: #5e23dc;
    cursor: pointer;
}

i.like {
    color: red;
}

.property-description a {
    text-decoration: none;
}

.property-possession {}

.property-rating {}

.property-rating h6 {
    background-color: #5e23dc;

    padding: 0.2rem 0.4rem;
    color: white;
}

.property-rating i {
    color: white;
}

.property-cta {
    border-top: 1px solid gray;

}

.property-cta-buttons>.cta-phone {
    background-color: white;
    border: 1px solid #5e23dc;
    color: #5e23dc;
}

.property-cta-buttons>.cta-contact {
    background-color: #1dd38f;
    border: none;
    color: white;
}

.modal-results-header {
    background-color: rgba(255, 252, 235, 0.9);
    border: 10px solid rgb(255, 252, 235)
}

.modal-contact-button {
    background-color: #5e23dc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    color: white;
    border-radius: 5px;
}

.modal-contact-button:hover {
    background-color: #5e23dc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}