.category-button {
    border: 0;
    color: #a29eb9;
    background-color: transparent;
    box-sizing: content-box;
    text-transform: uppercase;
}

.active-search-tab {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #fff;
}