.search-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}



.search {
    padding: 1rem;
}

.background {
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 33rem;
}

.background>div h1,
p {
    color: #fff;
}

.search-button {
    background-color: #1dd38f;
    color: white;
    border: none;
    border-radius: 0;
    min-height: 3rem;
}