.form-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-header {
    background-color: #5e23dc;
}

.signup-button {
    background-color: #5e23dc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    color: white;
    border-radius: 5px;
}

.signup-button:hover {
    background-color: #5e23dc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}